
/*
 * A custom GTK3 theme for the "movie" look.
 */

@define-color theme_bg_color #0D0208;
@define-color theme_fg_color #00FF41;
@define-color theme_selected_bg_color #008F11;
@define-color theme_selected_fg_color #00FF41;

* {
    -GtkButton-default-border-color: @theme_fg_color;
    -GtkButton-inner-border: 1px;
    border-color: @theme_fg_color;
}

window, GtkWindow {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

GtkButton, GtkLabel, GtkEntry {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

GtkButton:hover {
    background-color: @theme_selected_bg_color;
}

GtkButton:active {
    background-color: @theme_selected_bg_color;
}

GtkTreeView, GtkIconView {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

GtkTreeView.view:selected, GtkIconView.view:selected {
    background-color: @theme_selected_bg_color;
    color: @theme_selected_fg_color;
}
