@define-color neon-green #00FF41;
@define-color neon-red #FF0000;
@define-color dark-bg #0D0208;

.notification-row {
    outline: none;
}

.notification {
    box-shadow: 0 0 8px @neon-green, 0 0 12px @neon-green;
    margin: 6px;
}

.notification.critical {
    box-shadow: 0 0 8px @neon-red, 0 0 12px @neon-red;
}

.notification-content {
    background: alpha(@dark-bg, 0.85);
    padding: 10px;
    border: 2px solid @neon-green;
    border-radius: 0;
}

.critical .notification-content {
    border: 2px solid @neon-red;
}

.notification-default-action:hover,
.notification-action:hover {
    background: alpha(@neon-green, 0.1);
}

.critical .notification-default-action:hover,
.critical .notification-action:hover {
    background: alpha(@neon-red, 0.1);
}

.notification-default-action {
    padding: 4px;
    margin: 0;
    box-shadow: none;
    background-color: transparent;
}

.close-button {
    background: transparent;
    color: @neon-green;
    text-shadow: 0 0 3px @neon-green;
}

.critical .close-button {
    color: @neon-red;
    text-shadow: 0 0 3px @neon-red;
}

.close-button:hover {
    background: alpha(@neon-green, 0.1);
    color: @neon-green;
    text-shadow: 0 0 5px @neon-green;
}

.critical .close-button:hover {
    background: alpha(@neon-red, 0.1);
    color: @neon-red;
    text-shadow: 0 0 5px @neon-red;
}