* {
    border: none;
    font-family: "Roboto", "Noto Sans", sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: #212121; /* Material Dark Grey */
    color: #FFFFFF;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #BDBDBD; /* Medium Grey */
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#workspaces button.focused {
    background-color: #424242; /* Darker Grey */
    color: #FFFFFF;
}

#workspaces button.urgent {
    background-color: #f44336; /* Material Red */
    color: #FFFFFF;
}

#mode {
    background-color: #616161; /* Grey */
    border-bottom: 3px solid #FFFFFF;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#network,
#pulseaudio,
#custom-media {
    padding: 0 10px;
    margin: 0 4px;
    color: #FFFFFF;
}

#clock {
    background-color: #424242; /* Darker Grey */
}

#battery {
    background-color: #424242; /* Darker Grey */
}

#battery.charging {
    color: #FFFFFF;
    background-color: #424242; /* Darker Grey */
}

@keyframes blink {
    to {
        background-color: #f44336;
        color: #FFFFFF;
    }
}

#battery.critical:not(.charging) {
    background-color: #f44336;
    color: #FFFFFF;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #424242; /* Darker Grey */
}

#memory {
    background-color: #424242; /* Darker Grey */
}

#disk {
    background-color: #424242; /* Darker Grey */
}

#network {
    background-color: #424242; /* Darker Grey */
}

#network.disconnected {
    background-color: #f44336;
}

#pulseaudio {
    background-color: #424242; /* Darker Grey */
}

#pulseaudio.muted {
    background-color: #f44336;
    color: #FFFFFF;
}

#custom-media {
    background-color: #616161; /* Grey */
    padding-left: 10px;
    color: #FFFFFF;
}

#tray {
    background-color: #212121; /* Material Dark Grey */
}
