libreoffice
gedit
dconf
chromium
calibre
autostart
enchant
nautilus
pulse
Atom
smplayer
qBittorrent
plank
ranger/history
QtProject.conf
google-chrome
pavucontrol.ini
texstudio
vlc
menus
Unknown\ Organization
inkscape
octave
zoomus.conf
*.swp
*.swo
*.save

.ICEauthority
.Xauthority
.dbus/
.arduino/
.audacity-data/
.bash_history
.bash_logout
.cache/
.dbshell
.dmrc
.eclipse/
.gimp-2.8/
.gnome/
.histfile
.installjammerinfo/
.java/
.kde/
.lesshst
.local/
.lock.png
.m2/
.mozilla/
.mysql_history
.octave_hist
.pki/
.profile
.rfb/
.rnd
.ssh/
.ssr/
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.swt/
.thumbnails/
.tooling/
.vim/
.viminfo
.wget-hsts
.wine/
.xinputrc
.xsession-errors
.xsession-errors.old
.zoom/
.zsnes/
.wallpaper
Biblioteca\ do\ calibre/
Desktop/
Documentos/
Downloads/
Etec/
Imagens/
Livros/
Manuais/
ProgramasRFB/
Steam/
codigosFonteHistoricos/
jogos/
mestrado/
robocode/
sketchbook/
teste.sh
vms/
wiki/
workspaces/
Música/
Área\ de\ Trabalho/
.config/ranger/history
.config/equalx/
.equalx/
.config/gtk-3.0/bookmarks
.config/git-cola/
.config/htop/
.macromedia/
.webclipse/
.receitanet/
Vídeos/
Curso de Digitação/
.task/
