libreoffice
gedit
dconf
chromium
calibre
autostart
enchant
nautilus
pulse
Atom
smplayer
qBittorrent
plank
ranger/history
QtProject.conf
google-chrome
pavucontrol.ini
texstudio
vlc
menus
Unknown\ Organization
inkscape
octave
zoomus.conf
*.swp
*.swo
*.save
.ICEauthority
.Xauthority
.dbus/
.arduino/
.audacity-data/
.bash_history
.bash_logout
.cache/
.dbshell
.dmrc
.eclipse/
.gimp-2.8/
.gnome/
.histfile
.installjammerinfo/
.java/
.kde/
.lesshst
.local/
.lock.png
.m2/
.mozilla/
.mysql_history
.octave_hist
.pki/
.profile
.rfb/
.rnd
.ssh/
.ssr/
.steam/
.steampath
.steampid
.sudo_as_admin_successful
.swt/
.thumbnails/
.tooling/
.vim/
.viminfo
.wget-hsts
.wine/
.xinputrc
.xsession-errors
.xsession-errors.old
.zoom/
.zsnes/
.wallpaper
ProgramasRFB/
Steam/
jogos/
mestrado/
robocode/
sketchbook/
teste.sh
vms/
wiki/
workspaces/
.config/ranger/history
.config/equalx/
.equalx/
.config/gtk-3.0/bookmarks
.config/git-cola/
.config/htop/
.macromedia/
.webclipse/
.receitanet/
.task/
.newsboat/cache.db
.surf/
patches/
sourceCode/
.swn
cursoDeDigitacao/
documentos/
downloads/
etec/
imagens/
livros/
manuais/
musica/
videos
bibliotecaDoCalibre/
codigosFonteHistoricos/
.gnupg/
.gnuplot_history
.lock_old.png
.p2/
Downloads/
octave-workspace
.swm
.swl
.debug/
.gradle/
.swf
.swg
.swh
.swi
.swj
.swk
.swe
Desktop/
vbox/
.config/VirtualBox/
.gnome2/
.swd
*.log
Arduino/
Biblioteca do calibre/
Documentos/
Etec/
Imagens/
Livros/
Manuais/
Modelos/
Programas/
Recibos/
VirtualBox VMs/
Wiki/
android-sdks/
android-workspace/
c#-workspace/
composer.json
eclipse-workspace/
fritzing-parts/
installSyncthing.sh
organizar/
pikLab/
pulsar-workspace/
react-workpace/
snap/
squeak
squirrel-sql-3.8.1/
steam.sh
telefones/
workspace-android/
workspace-jee/
workspace/
.fehbg
.config/kcachegrindrc
.jacamo/
.config/glade.conf
.config/kritadisplayrc
.config/kritarc
.config/skypeforlinux/
.ipython/
.jupyter/
.cargo/
.rustup/
.config/lutris/
.config/unity3d/
.config/TUG/
.TeXworks/
.android/
.config/Doxygen.org/
.config/Kitware/
.config/Microsoft/
.config/blender/
.config/evince/
.config/fish/
.config/gtk-3.0/servers
.config/jgit/
.config/kdenliverc
.config/syncthing-gtk/
.config/syncthing/
.config/teams/
.droidcam/
.matlab/
.oracle_jre_usage/85ba1ea67f930385.timestamp
.oracle_jre_usage/ad4c685895a64c8b.timestamp
.oracle_jre_usage/bef30bfeac4d7a42.timestamp
.processing/
.python_history
dadosRedesSociais/
.config/obs-studio/
.dia/
.mysql/
.viminfo.tmp
.config/keyboardConfig.sh
.config/obs-studio/
.config/katepartrc
.config/katevirc
.config/kdeglobals
.config/kilerc
.mycli-history
.myclirc
.AndroidStudio3.6/
.config/Android Open Source Project/
.emulator_console_auth_token
AndroidStudioProjects/
eclipse/
*.sw*
/.config/obs-studio
/repos
/.config/calcurse
*.sv*
*.mscz
Documents/
*.mscz,
