libreoffice
gedit
dconf
chromium
calibre
autostart
enchant
nautilus
pulse
Atom
smplayer
qBittorrent
plank
ranger/history
QtProject.conf
google-chrome
pavucontrol.ini
texstudio
vlc
menus
*.swp
*.swo
*.save
