/* Material Dark selection for web content */

@-moz-document regexp('.*') {
  ::selection {
    background: #BDBDBD !important; /* Medium Grey */
    color: #000000 !important;
  }
  ::-moz-selection {
    background: #BDBDBD !important; /* Medium Grey */
    color: #000000 !important;
  }
}