/*
 *                       __                __
 *      ____  ____  ____/ /___  ____ ______/ /_
 *     / __ \/ __ \/ __  / __ \/ __ `/ ___/ __/
 *    / /_/ / /_/ / /_/ / /_/ / /_/ / /__/ /_
 *   / .___/\____/\__,_/\____/\__,_/\___/\__/
 *  /_/
 *
 *  Author: @4l3x-ab
 *  https://github.com/4l3x-ab
 */
* {
  bg: #0a0a0aaf;
  bga: #1a1a1a;
  bgs: #2a2a2a;
  fg: #39b300ff;
  ac: #39b300ff;
  gray: #666666;
}
