@keyframes glow {
    0% {
        box-shadow: 0 0 5px #00FF41, 0 0 10px #00FF41, 0 0 15px #008F11;
    }

    100% {
        box-shadow: 0 0 10px #00FF41, 0 0 20px #00FF41, 0 0 30px #008F11;
    }
}

@keyframes scanline {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 100%;
    }
}

window {
    background-image: repeating-linear-gradient(0deg,
            rgba(0, 255, 65, 0.03) 0px,
            rgba(0, 255, 65, 0.03) 1px,
            transparent 1px,
            transparent 2px);
    animation: scanline 10s linear infinite;
}

.notification {
    animation: glow 2s ease-in-out infinite alternate;
}

.notification.critical {
    animation: glow 1s ease-in-out infinite alternate;
    box-shadow: 0 0 10px #FF0000, 0 0 20px #FF0000, 0 0 30px #800000;
}

.notification .body {
    text-shadow: 0 0 5px #00FF41;
}

.notification.critical .body {
    text-shadow: 0 0 5px #FF0000;
}

progress {
    background-color: rgba(0, 255, 65, 0.2);
    border: 1px solid #00FF41;
    border-radius: 2px;
}

progress progress {
    background-color: #00FF41;
    box-shadow: 0 0 5px #00FF41;
}