window {
    font-family: "Roboto", "Noto Sans", sans-serif;
    font-size: 16px;
    margin: 0px;
    border: 1px solid #424242; /* Darker Grey */
    border-radius: 4px;
    background-color: #212121; /* Material Dark Grey */
    color: #FFFFFF;
}

#input {
    margin: 5px;
    border: 1px solid #616161; /* Grey */
    border-radius: 4px;
    background-color: #313131;
    color: #FFFFFF;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    color: #FFFFFF;
}

#entry:selected {
    background-color: #424242; /* Darker Grey */
    border-radius: 4px;
}