@keyframes scanline {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 100%;
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px #00FF41, 0 0 10px #00FF41, 0 0 15px #008F11;
    }

    100% {
        box-shadow: 0 0 10px #00FF41, 0 0 20px #00FF41, 0 0 30px #008F11;
    }
}

/* -- Global rules -- */
* {
    border: none;
    font-family: "JetbrainsMono Nerd Font";
    font-size: 15px;
    min-height: 10px;
    transition: all 0.3s ease;
}

window#waybar {
    background: rgba(13, 2, 8, 0.85);
    background-image: repeating-linear-gradient(0deg,
            rgba(0, 255, 65, 0.03) 0px,
            rgba(0, 255, 65, 0.03) 1px,
            transparent 1px,
            transparent 2px);
    animation: scanline 10s linear infinite;
    border-bottom: 2px solid #FF0000;
    box-shadow: 0 0 10px #00FF41, 0 0 20px #008F11, 0 5px 15px #FF0000;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* - Genera rules for visible modules -- */
#custom-archicon,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#idle_inhibitor,
#pulseaudio,
#pulseaudio-slider,
#network,
#dunst,
#custom-usb,
#battery,
#language {
    color: #00FF41;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    transition: none;
}

/* Separation to the left */
#disk {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


#custom-archicon,
#cpu,
#idle_inhibitor {
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Separation to the rigth */
#clock,
#temperature,
#language {
    margin-right: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* -- Specific styles -- */

/* Modules left */
#custom-archicon {
    font-size: 20px;
    color: #00FF41;
    background: #0D0208;
    padding-right: 17px;
}

#custom-monitor-layout {
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 6px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#mpris,
#custom-bluetooth {
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 6px;
}

#clock {
    background: #008F11;
}

#cpu {
    background: #0D0208;
}

#memory {
    background: #008F11;
}

#disk {
    background: #0D0208;
}

#temperature {
    background: #008F11;
}

/* Modules center */
#workspaces {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 6px 5px;
    padding: 0px 6px;
}

#workspaces button {
    color: #008F11;
    background: transparent;
    padding: 4px 4px;
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#workspaces button.occupied {
    color: #00FF41;
}

#workspaces button.active {
    color: #00FF41;
    text-shadow: 0 0 4px #00FF41;
}

#workspaces button:hover {
    color: #00FF41;
}

/* Modules right */
#taskbar {
    background: transparent;
    border-radius: 10px;
    padding: 0px 5px;
    margin: 6px 5px;
}

#custom-monitor-layout {
    background: #008F11;
    padding-left: 15px;
    padding-right: 15px;
}

#taskbar button {
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 6px;
    transition: background 0.3s ease;
}

#taskbar button.active {
    background: rgba(13, 2, 8, 0.5);
}

#taskbar button:hover {
    background: rgba(13, 2, 8, 0.5);
}

#idle_inhibitor {
    background: #0D0208;
    padding-right: 15px;
}

#pulseaudio {
    min-width: 55px;
    color: #00FF41;
    background: #0D0208;
}

#pulseaudio-slider {
    color: #00FF41;
    background: #0D0208;
    min-width: 25px;
}

#network {
    background: #008F11;
    padding-right: 13px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#language {
    background: #0D0208;
    padding-right: 15px;
}

#battery {
    background: #0D0208;
    padding-right: 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#battery.good,
#battery.full {
    color: #00FF41;
    /* Default Green */
}

#battery.charging,
#battery.plugged {
    color: #00FFFF;
    /* Cyan */
}

#battery.warning {
    color: #FFFF00;
    /* Yellow */
}

#battery.critical:not(.charging) {
    color: #FF0000;
    /* Red */
    animation-name: blink-red;
    animation-duration: 0.7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#mpris {
    background: #0D0208;
    padding-right: 15px;
}

#custom-bluetooth {
    background: #008F11;
    padding-right: 13px;
}

#notification {
    background: #008F11;
    padding-right: 13px;
}

#custom-usb {
    color: #f9e2af;
    padding: 0 15px;
    margin: 6px 0;
    background: #000000;
}

#custom-clipboard {
    color: #00FF41;
    background: #0D0208;
    padding: 0 5px 0 10px;
    margin: 6px 0 6px 5px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#custom-clipboard:hover {
    background: #008F11;
    color: #00FF41;
    transition: all 0.3s ease;
}

#tray {
    background: #0D0208;
    margin: 6px 5px;
    padding: 0 10px;
    border-radius: 10px;
}

#tray menu {
    background: #0D0208;
    color: #00FF41;
}

#tray>.needs-attention {
    background: #008F11;
    border-radius: 5px;
}

#tray * {
    -gtk-icon-shadow: none;
    -gtk-icon-transform: none;
    min-height: 16px;
    min-width: 16px;
    margin: 0 4px;
    padding: 0px;
    border-radius: 4px;
}

#tray *:hover {
    background: #008F11;
    box-shadow: 0 0 2px #00FF41;
    color: #0D0208;
}

/* === Optional animation === */
@keyframes blink-green {
    to {
        background-color: #00FF41;
        color: #0D0208;
    }
}

@keyframes blink-red {
    to {
        background-color: #FF0000;
        color: #0D0208;
    }
}