
/*
 * A custom GTK4 theme for the "movie" look.
 */

* {
    background-color: #0D0208;
    color: #00FF41;
    border-color: #00FF41;
}

button {
    background-color: #0D0208;
    color: #00FF41;
}

button:hover {
    background-color: #008F11;
}

button:active {
    background-color: #008F11;
}

entry {
    background-color: #0D0208;
    color: #00FF41;
}

textview {
    background-color: #0D0208;
    color: #00FF41;
}

listview, gridview {
    background-color: #0D0208;
    color: #00FF41;
}

listview:selected, gridview:selected {
    background-color: #008F11;
    color: #00FF41;
}
