[Desktop Entry]
Type=Application
Name=Arquivos
GenericName=File Manager
Comment=Open themed folders with Nautilus
Icon=system-file-manager
Exec=env GTK_THEME=Cyberpunk-Neon nautilus %U
Terminal=false
MimeType=inode/directory;application/x-gnome-saved-search;
Categories=GNOME;GTK;System;Utility;Core;FileManager;
StartupNotify=true