/* Set font size and family for dialogs
 * and other miscellaneous text
 */
#main-window * {
  font-size: 1em !important;
  font-family: monospace !important;
  color: limegreen;
  border-width: 0px;
}
#titlebar {
  background-color: black;
  padding: 0px;
}

#TabsToolbar {
  height: 2em;
  padding: 0px;
  font-size: 1em; 
}
#toolbar-menubar image {
  background-color: black !important;
  display: none;
}

#main-window menuitem hbox{
  background-color: black;
}

/* Make menus big, pretty and readable (like the old SGI look):
 * menubar isn't used after 12/19 builds, but is needed for NS6;
 * the rest are for post-12/19
 */
menubar, menubutton, menulist, menu, menuitem {
  font-family: monospace !important;
  font-size: 4mm !important;
  color: limegreen;
}

#nav-bar {
  height: 2em;
  font-size: 1em;
  background-color: black;
}

/* Single line text fields */
#urlbar-input {
  /* Set font size and family of text fields */
  font-family: monospace !important;
  font-size: 0.5em !important;
  border-radius: 0.5em;
  color: limegreen !important;
  height: 0.2em !important;

  /* Set background color to something a little prettier */
  background-color: rgb(0, 0, 0) !important;

  /* Add some key bindings.
   * For an explanation of how to do this,
   * see below under "Custom key bindings".
   */
  -moz-binding: url("resource:///res/builtin/myHTMLBindings.xml#myInputFields") !important;
}

#urlbar-input{
  font-size: 1em !important;
}